@using WebApplication.Utils.Constants
@model WebApplication.Models.SignInViewModel
@{ var query = new Dictionary<string, string>()
   {
       [ApplicationCookies.ReturnUrlParameter] = Context.Request.Query[ApplicationCookies.ReturnUrlParameter]
   };
}
<h1>Sign In</h1>
<a asp-controller ="Home" asp-action="Index">Home</a>
<a asp-controller="Account" asp-action="SignUp" asp-all-route-data=@query>Sign Up</a>
<form asp-controller="Account" asp-action="SignIn" method="post" asp-all-route-data =@query>
    <div asp-validation-summary="All"></div>
    <div>
        <label>UserName</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <p>
        <button type="submit"> Sign in</button>
    </p>
</form>