<div class="row my-3 px-3">
    <div class="col">
        <label class="h1">Home</label>
    </div>
    <div class="col">
        <div class="nav justify-content-end">
            <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Admin</a>
        </div>
    </div>
</div>

